BODY {background-color: #FFFFE0 ;	margin: 20px 10px ;	font-size:10pt;	line-height:200%}
.title {color: #FFFF00 ; font-size: 30pt ; font-family: "Arial",sans-serif}
.gamen {color: #FFFF00 ; font-size: 18pt ; font-family: "Arial",sans-serif}
.message {color: #000000 ; font-size: 14pt ; font-family: "Arial",sans-serif}
.button {background-color: #0000FF ; color: #FFFFFF ; font-size: 16pt; font-family: "Arial", "sans-serif"; width: 90%; height: 60%; clip:   rect(   )}
TABLE{ line-height:160%}
div{	width:95%;	line-height:100%}
A:link {color:#000000}
A:visited{color:#000000}
A:active{color:#000000}
A:hover{color:#EE0000}
